//@import url("../fonts/stylesheet.css");

body, td
{	
}

#gallery_wrapper
{
	width: 940px;
	height: 305px;
	position: relative;
}

.gallery-container
{
	width: 940px;
	overflow: hidden;
	position: relative;
	display: none;
}

.gallery-container .slide
{
	width: 940px;
	height: 305px;
	display: block;
}

.caption
{
	z-index: 199;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 940px;
	height: 305px;
	padding: 0px;
}

.caption .box
{
	position: relative;
	margin: 0px;
	height: 40px;
	padding: 10px;
	background-color: #ffffff;
	border-radius: 10px;
	font-family: "PT Sans", Tahoma, sans-serif;
	font-size: 14px;
	font-style: italic;
}

.caption .box p
{
	margin: 0px;
	font-family: "PT Sans", Tahoma, sans-serif;
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
}

.caption .arrow
{
	position: relative;
	width: 22px;
	height: 22px;
}

.caption .left
{
	background-image: url(../img/i_arrow_left.png);
	background- repeat: no-repeat;
}

.caption .right
{
	background-image: url(../img/i_arrow_right.png);
	background-repeat: no-repeat;
}

#button_prev
{
	z-index: 209;
	position: absolute;
	top: 130px;
	left: 5px;
}

#button_prev img
{
	border: none 0px;
}

#button_next
{
	z-index: 219;
	position: absolute;
	top: 130px;
	left: 880px;
}

#button_next img
{
	border: none 0px;
}